@import "header.css";
@import "footer.css";
@import "bootstrap.css";

.bg-01 {
  background-color: #e6e5e1;
  background-attachment: cover;
}
.bg-02 {
  background-color: #ffffff;
}
html {
  width: auto;
}
body {
  color: #5c5b5a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.container2 {
  max-width: 1000px;
  text-align: justify;
}
.home {
  height: auto;
  padding-top: 9rem;
  padding-bottom: 4.5rem;
}
.container-celular {
  width: 900px;
}

.titulo-portfolio h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #5c5b5a70;
  z-index: 1;
  padding-top: 10rem;
}
.sobre {
  font-size: 5rem;
  font-weight: 700;
  color: #5c5b5a;
}
h1 {
  color: #5c5b5a;
  font-size: 4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
.nav-link {
  color: #5c5b5a;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: #e6e5e1;
}

li a {
  color: #5c5b5a;
}
li a:hover {
  color: #5c5b5a;
}
.sobre {
  font-size: 2rem;
}

.h6 {
  font-weight: bold;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.box-shadow {
  box-shadow: 2px 2px 5px 1px #afafaf93, 1px 1px 5px 0.5px #d8d8d8fa;
}

.box {
  float: top;
  overflow: hidden;
  background: #e6e5e1;
  position: absolute;
  margin-top: 6rem;
  margin-left: 3rem;
}
/* Add padding and border to inner content
for better animation effect */
.box-inner {
  text-align: justify;
  width: 15rem;
  height: auto;
  padding: 10px;
  border: 1px solid #777776;
  border-radius: 4px;
}
.btn-inner {
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: rgba(207, 206, 203, 0.671);
  margin-top: 10px;
}

.notification-container {
  width: 0px;
}
.ativo {
  width: 15rem;
}

/* MEDIA QUERY */
@media (max-width: 1000px) {
  #portfolio h2 {
    position: relative;
    padding-top: 1rem;
  }
}
@media (max-width: 770px) {
  .zoom:hover {
    transform: scale(1);
  }
  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  .texto-home p {
    font-size: 1.5rem;
  }
  .h6,
  ul li {
    font-size: medium;
  }
  p {
    font-size: medium;
  }
  a {
    font-size: small;
  }
  #portfolio h2 {
    position: relative;
    padding-top: 3rem;
  }

  .nav-link {
    font-size: medium;
  }
  img {
    max-width: 100px;
  }
  .box {
    margin-left: auto;
  }
  .box-inner,
  .ativo {
    width: 15rem;
    height: auto;
    font-size: medium;
  }
  .home {
    padding-top: 9rem;
  }

  .scroll-celular {
    overflow-x: scroll;
  }

  .img-celular {
    cursor: pointer;
    width: 300px;
  }
  .container-celular .row {
    flex-wrap: nowrap;
  }
  .slide-toggle {
    width: auto;
  }
}

/*FINAL MEDIA QUERY*/

#portfolio {
  position: relative;
}

.waves-todas {
  margin-top: 300px;
}
.waves1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.waves2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.waves3 {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.wave1 {
  fill: #5c5b5a;
  animation: moveWave1 3s ease-in-out infinite alternate;
}
.wave2 {
  fill: #b8b7b4;
  opacity: 1;
  animation: moveWave2 4s 1.2s ease-in-out infinite alternate;
}

.wave3 {
  fill: #e6e5e1;
  opacity: 1;
  animation: moveWave3 4s 0.7s ease-in-out infinite alternate;
}
.wave4 {
  fill: #e6e5e1;
  opacity: 1;
  animation: moveWave4 4s 0.3 ease-in-out infinite alternate;
}
@keyframes moveWave1 {
  from {
    transform: translateX(-50px);
  }
}
@keyframes moveWave2 {
  from {
    transform: translateX(-25px);
  }
}
@keyframes moveWave3 {
  from {
    transform: translateX(-25px);
  }
}

@keyframes moveWave4 {
  from {
    transform: translateX(-10px);
  }
}
