@import "header.css";
@import "footer.css";
@import "bootstrap.css";

.bg-01 {
  background-color: #7d928f;
  background-attachment: cover;
}

html {
  width: auto;
}
body {
  background-image: url(/img/oceano5.jpg);
  background-size: cover;
  color: black;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  font-size: 1rem;
}

#home {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#portfolio {
  position: relative;
}
a {
  text-decoration: none;
}

#contato {
  color: white;
}
.nome {
  text-align: start;
  color: white;
}
.texto-nome {
  margin-left: 10px;
}
.nome,
.texto-home,
.texto-nome {
  color: white;
}
.container2 {
  max-width: 1200px;
  text-align: justify;
}
.home {
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-portfolio {
  height: 40rem;
  padding: 10px;
}
.container-celular {
  align-self: center;
  width: 900px;
  z-index: 1;
}

.titulo-portfolio h2 {
  font-size: 5rem;
  opacity: 0.6;
  font-weight: 100;
  color: white;
  z-index: 1;
  margin-top: -12rem;
}
.sobre {
  font-size: 5rem;
  font-weight: 100;
  color: #3a3939;
  opacity: 0.8;
}

.sobre-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#sobre {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 10rem;
  margin-top: 10rem;
  background: #e6e5e1b6;
}

h1 {
  color: #3a3939;
  opacity: 0.8;
  font-size: 4.5rem;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
.home p {
  font-weight: 100;
}
img {
  width: 100%;
}

.foto-sobre img {
  height: 300px;
  width: 300px;
}

.nav-link {
  color: #e6e5e1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: #5c5b5a;
}

li a {
  color: white;
}
li a:hover {
  color: #5c5b5a;
}

.h6 {
  font-weight: bold;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.box {
  float: top;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.925);
  position: absolute;
  margin-top: 6rem;
  margin-left: 3rem;
  border-radius: 10px;
  box-shadow: 10px 10px 20px hsl(173, 7%, 43%);
}
/* Add padding and border to inner content
for better animation effect */
.box-inner {
  text-align: justify;
  width: 15rem;
  height: auto;
  padding: 30px 30px 16px 30px;
}
.btn-celular a {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.btn-celular {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;

  width: 140px;
  height: 45px;
  background-color: #7d928f;
  border: none;
  border-radius: 45px;
  box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.btn-celular a {
  padding: 0px;
}
.btn-celular:hover {
  background-color: #aeb8b6;
  box-shadow: 0px 10px 20px hsl(173, 7%, 43%);
  color: #ffffff;
  transform: translateY(-7px);
}

.notification-container {
  width: 0px;
}
.ativo {
  width: 15rem;
}
.wave-baixo {
  margin-top: -10px;
  margin-bottom: 10rem;
  box-sizing: none;
}
.wave-todas {
  padding-bottom: 50rem;
}

/* MEDIA QUERY */

@media (max-width: 1200px) {
  #portfolio h2 {
    position: relative;
    padding-top: 1rem;
  }
  #home {
    flex-direction: column;
  }
  .sobre {
    font-size: 3rem;
  }

  #sobre {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .texto-sobre,
  .sobre {
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
  }
  .sobre-container {
    padding: 2rem;
  }

  .foto-sobre img {
    margin: 1rem;
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 820px) {
  .container2 {
    width: 100%;
  }
  .zoom:hover {
    transform: scale(1);
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
  }

  .h6,
  ul li {
    font-size: medium;
  }
  p {
    font-size: medium;
  }
  a {
    font-size: small;
  }
  #portfolio h2 {
    position: relative;
    padding-top: 3rem;
  }

  .nav-link {
    font-size: medium;
  }

  .box {
    margin-left: auto;
  }
  .box-inner,
  .ativo {
    width: 15rem;
    height: auto;
    font-size: medium;
  }

  .scroll-celular {
    overflow-x: scroll;
  }

  .img-celular {
    cursor: pointer;
    width: 300px;
  }
  .container-celular .row {
    flex-wrap: nowrap;
  }
  .slide-toggle {
    width: auto;
  }
}

/*FINAL MEDIA QUERY*/

.waves-todas {
  margin-top: 10rem;
  z-index: 1;
}
.waves1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.waves2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.waves3 {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  z-index: -1;
}

.waves4 {
  position: absolute;
  padding-top: 100rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.wave1 {
  fill: #7d928f;
  opacity: 0.4;
  animation: moveWave1 3s ease-in-out infinite alternate;
}
.wave2 {
  fill: #7d928f;
  opacity: 0.5;
  animation: moveWave2 4s 1.2s ease-in-out infinite alternate;
}

.wave3 {
  fill: #7d928f;
  opacity: 1;
  animation: moveWave3 4s 0.7s ease-in-out infinite alternate;
}
.wave4 {
  fill: #7d928f;
  opacity: 1;
  animation: moveWave4 4s 0.3 ease-in-out infinite alternate;
  box-sizing: content-box;
}
@keyframes moveWave1 {
  from {
    transform: translateX(-50px);
  }
}
@keyframes moveWave2 {
  from {
    transform: translateX(-25px);
  }
}
@keyframes moveWave3 {
  from {
    transform: translateX(-25px);
  }
}

@keyframes moveWave4 {
  from {
    transform: translateX(-10px);
  }
}
